<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#cb997e'"
        [innerStrokeColor]="'#eddcd2'"
        [animation]="true"
        [animationDuration]="500"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]=" 'HTML' "
        [showTitle]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#cb997e'"
        [innerStrokeColor]="'#eddcd2'"
        [animation]="true"
        [animationDuration]="500"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]=" 'JS' "
        [showTitle]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#cb997e'"
        [innerStrokeColor]="'#eddcd2'"
        [animation]="true"
        [animationDuration]="500"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]=" 'CSS' "
        [showTitle]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#cb997e'"
        [innerStrokeColor]="'#eddcd2'"
        [animation]="true"
        [animationDuration]="500"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]=" 'ENG' "
        [showTitle]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#cb997e'"
        [innerStrokeColor]="'#eddcd2'"
        [animation]="true"
        [animationDuration]="500"
        [showUnits]="false"
        [title]=" 'COLAV' "
        [showTitle]="true"
        [subtitle]="'WORK'"
        [showSubtitle]="true"
    ></circle-progress>
    </div>
</div>
