<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png"   id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/NaNessmann"><img src="../../../assets/github.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/nahir-nessmann-0176a8185/"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
                <a href="https://www.instagram.com/nanessmann/"><img src="../../../assets/instagram.png" alt="instagram"></a>
                <a href="https://twitter.com/NahiirNess"><img src="../../../assets/twitter.png" alt="twitter"></a>
                <button type="button" class="btn btn-outline-dark" (click)="login()">INGRESO</button>
            </div>
        </div>

    </div>

</div>


